@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Roboto:wght@300;400;700&family=Petit+Formal+Script&family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
    --white-color: #FFFFFF;
    --primary-color: #061120;
    --secondary-color: #0c1f3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background: var(--primary-color);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.header-menu {
    position: fixed;
    width: 100vw;
    display:inline-block;
    padding: 1rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    text-align: center;
    font-family: 'Petit Formal Script', cursive;
    background: url('../images/header-background2.png') center center no-repeat;
    background-size: cover;
}

.items-menu {
    padding: 1rem;
}

.items-menu a:hover {
    opacity: 0.75;    
}

.items-menu a {
    text-decoration: none;
    color:var(--white-color);
    font-size: 2.8rem;
    margin: auto 5rem;
}

.logo-header {
    float: left;
    padding: 0 2rem;
}

.logo-header img {
    height: 6rem;
    width: 6rem;
}

.title-and-description {
    text-align: center;
}

main {
    background: var(--primary-color);
    color: var(--white-color);
}

.opening-content{
    height: 100vh;
    width: 65vw;
    text-align: center;
    align-items: center;
    padding-top: 30rem;
    margin: auto 20rem;
    font-size: 3rem;
    font-family: 'Charm', cursive;
    margin-right: 25rem;
    background: url('../images/opening-content-background.png') center center no-repeat;

    background-size: cover; 
}

.main-title {
    font-size: 8rem;
    margin-bottom: 6rem;
}

.opening-content p {
    margin: auto 15rem;
}

.our-history{
    height: 100vh;
    width: 80vw;
    align-items: center;
    padding: 12rem 10rem 15rem 10rem;
    margin: 5rem auto 20rem auto;
    background: #3f2b1d;
    font-size: 2.4rem;
    text-align:center;
    background: url('../images/statue.png') center center no-repeat;
    background-size: cover; 
}

.our-history h2 {
    font-size: 6rem;
    margin-bottom: 8rem;
    text-align: center;
    font-family: 'Charm', cursive;
    text-decoration: underline;
}

.our-history p {
    margin-bottom: 6rem;
    font-family: 'IBM Plex Mono', monospace;
}

.events {
    height: 100vh;
    width: 95vw;
    text-align: center;
    align-items: center;
    padding-top: 12.5rem;
    margin: auto 3rem;
    background: url('../images/chalkboard.png') center center no-repeat;
    background-size: cover;
}

.events h2 {
    font-size: 6rem;
    font-family: 'Charm', cursive;
    margin-bottom: 10rem;
    text-decoration: underline;
}

.events-calendar {
    font-size: 2rem;
    padding: 1rem;
}

.events-calendar th {
    font-size: 2.6rem;
}

.events-calendar tr td {
    padding: 2rem;
    font-family: 'IBM Plex Mono', monospace;
}

.newsletter {
    height: 100vh;
    width: 95vw;
    padding-top: 12.5rem;
    margin: auto 3rem;
    background: url('../images/newsletter-coffe.png') center center no-repeat;
    background-size: cover;
}

.newsletter h3 {
    font-size: 3.5rem;
    font-family: 'Charm', cursive;
    margin-bottom: 2rem;
    text-align: center;
}

.newsletter p {
    font-size: 3rem;
    margin-bottom: 10rem;
    font-family: 'Charm', cursive;
    text-align: center;
}

.final-form {
    font-size: 2.2rem;
    display:inline;
}

.final-form input[type=text], input[type=tel], input[type=email] {
    margin-bottom: 1.6rem;
    border: none;
    border-radius: 0.25rem;
    width: 30rem;
    height: 2.2rem;
    font-size:1.8rem;
}

.final-form fieldset {
    border: none;
}

.final-form fieldset legend {
    margin-bottom: 1.6rem;
}

.general-form {
    float: left;
}

.suggestions {
    text-align: center;
    font-weight: bold;
}

#suggestions {
    margin-top: 6rem;
    color: transparent;
    background: transparent;
    border: 0.2rem solid var(--white-color);
    color: var(--white-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.8rem;
}

.form-container {
    padding: 1rem 5rem;
    margin: 0 10rem;
}

#submit-button {
    border-color:var(--white-color);
    background: var(--secondary-color);
    color: var(--white-color);
    width: 14rem;
    height: 4rem;
    font-size: 2.4rem;
    padding: 0 1.6rem;
    margin-top: 2rem;
    border-radius: 1.4rem;
}

#submit-button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

footer {
    width: 100vw;
    padding-top: 8rem;
    margin-top: 5rem;
    text-align: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 2.5rem;
    font-family: 'Charm', cursive;
    background: url('../images/footer-coffe.png') center center no-repeat;
    background-size: cover;
}

.final-icons a img{
    height:3.5rem;
    width: 3.5rem;
}

aside {
    max-width: 30rem;
    height: 100vh;
    padding-top: 15rem;
    float: right;
    color: var(--white-color);
    text-align: center;
    background: var(--secondary-color);
    font-size: 2rem;
    font-family: 'Charm', cursive;
}

aside p {
    margin-bottom: 4rem;
}

.catalog {
    min-height: 100vh;
    width: 80vw;
    text-align: center;
    align-items: center;
    padding-top: 15rem;
    margin: auto 20rem;
    font-family: 'Charm', cursive;
}

.catalog h2 {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Charm', cursive;
}

.catalog p {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.catalog-session {
    align-items:center;
}

.catalog-session figure {
    display:inline-block;
    max-width: 25vw;
    font-size: 2.6rem;
    padding: 4rem;
    margin: auto;
    vertical-align: top;
}

.catalog-session h3 {
    font-size: 4rem;
    margin: 6rem auto;
}

.catalog-session figure img {
    max-width: 20vw;
}

.submitted-form-page-main-content {
    height: 100vh;
    width: 80vw;
    text-align: center;
    align-items: center;
    padding-top: 20rem;
    margin: auto 20rem;
    font-size: 3rem;
    font-family: 'Charm', cursive;
}

#back-to-home-button {
    border: 0.2rem solid var(--white-color);
    border-radius: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    padding: 2rem;
    font-size: 3rem;
    margin-top: 5rem;
}

#back-to-home-button:hover {
    background: var(--secondary-color);
    cursor: pointer;
}
